{% extends 'layouts/base.html' %}
{% block content %}
        <div class="container">
            <form method="POST" autocomplete="off">
                    {{ form.csrf_token }}
                <h2>Translate a text
                    <small>from English to Spanish with Unbabel Translation API</small>
                </h2>
                <div class="form-group">
                    <label for="input_text" class="sr-only">Text to translate</label>
                    <!-- <input type="text" name="input_text" id="input_text" placeholder="Inform your text to translate" required autofocus/> -->
                    {{ form.input_text }}

                </div>
                <button type="submit">Translate it to Spanish</button>
            </form>
        </div>
        {% if translates %}
        <div class="container">
            <div class="page-header">
                    <h1>Translation text status
                        <small>(Translating or completed)</small>
                    </h1>
            </div>
            <table class="table table-bordered">
                    <thead>
                    <tr class="blue">
                        <th>Id</th>
                        <th>Original text</th>
                        <th>Translated text</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    
                    {% for t in translates %}
                    <tr {% if t.status == 'new' or t.status == 'translating' %}class='translating'{% endif %}>
                        <td>{{ t.uid }}</td>
                        <td>{{ t.original_text }}</td>
                        <td>{{ t.translated_text }} {% if t.status == 'new' %} (Please, wait some seconds) {% endif %}</td>
                        <td>{% if t.status == 'new' %} requested {% elif t.status == 'translating' %} pending  {% elif t.status == 'completed' %} translated {% endif %}</td>
                    </tr>
                    {% endfor %}
                    
                    
                </table>
        </div>
        {% endif %}
{% endblock %}